# Configuración para Render / Producción
SECRET_KEY=tu_clave_secreta_aqui
DEBUG=False
ALLOWED_HOSTS=plataemiuli.onrender.com,localhost,127.0.0.1

# URL de la Base de Datos (PostgreSQL en Render o Neon.tech)
# Ejemplo: postgresql://usuario:contraseña@ep-random-123456.sa-east-1.aws.neon.tech/neondb
DATABASE_URL=postgresql://usuario:contraseña@localhost:5432/nombre_db
